@font-face {
  font-family: Merri;
  src: url('../../assets/Oswald-SemiBold.ttf');
  font-weight: 600;
}
.textured-bgHome {
  background-image: url('../../public/cover.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.textEditHome{
  mask-image: url(../../public/home1/mask1.png);
  opacity: 90%;
  -webkit-mask-image: url(../../public/home1/mask1.png);
  color: #fff;
}
.textEditHome2 {
  mask-image:  url(../../public/home1/mask2.png);
  -webkit-mask-image:  url(../../public/home1/mask1.png);
  color: #fff;
}
.textEditAbout{
  background: url(../../public/cover.png) no-repeat center center;
  background-attachment: fixed;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding: 2em;
  font-family: wars;
	/* -webkit-background-clip clips the background of the element to the text */
	-webkit-text-fill-color: transparent; /* overrides the white text color in webkit browsers */
	-webkit-background-clip: text;
  text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.205);
}

.textured-bgAbout {
  background-image: url('../../public/planet-07.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.bordered-text {
  text-shadow: 0 0 10px red;
}
#maskText h1 {
  font-size: 200px;
  font-family: 'Lilita One', sans-serif;
  color: #ffe400;
  text-shadow: 7px 7px 0px #34495e;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  display: block;
  -webkit-mask-image: url('../../public/home1/mask1.png');
  -webkit-transition:all 2s ease;
  -moz-transition:all 2s ease;
  -o-transition:all 2s ease;
  transition:all 2s ease;
}
  #maskText h1:hover{
    -webkit-mask-image: url('../../public/home1/mask2.png');
  cursor: pointer;
  color: #ffe400;
}
.bg-home{
  background-image: url(../../public/home1/Herobg.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1 {
  @apply font-bold text-3xl md:text-4xl lg:text-6xl;
  font-family: Merri;
}

h2 {
  @apply font-bold text-xl md:text-3xl lg:text-4xl;
  font-family: Merri;
}

h3 {
  @apply font-bold text-lg md:text-xl lg:text-2xl;
}

h4 {
  @apply font-bold text-base md:text-lg lg:text-xl;
}

h5 {
  @apply font-bold text-sm md:text-base lg:text-lg;
}

p {
  @apply text-base font-mono md:text-lg;
}
/* Hero */
.hero-content {
  @apply grid grid-cols-2 gap-x-10;
}
.hero-content .hero-image {
@apply cursor-pointer flex justify-center items-center;
}
.hero-image-Image {
  @apply rounded-full shadow-md  shadow-slate-800;
}
.hero-text {
  @apply col-span-1 text-white flex flex-col justify-center items-center ;
}
.hero-text h1 {
  @apply text-7xl;
}
/* AboutHome1 */
.about-section {
  @apply my-20 container mx-auto;
}
.about-section .about-container {
  @apply container !bg-[#f1f1fffa] rounded-xl;
}
.about-section .about-container .about-content {
  @apply grid grid-cols-2 gap-x-10 p-5;
}
.about-section .about-container .about-content .about-icon {
  @apply bg-slate-50 p-2 text-5xl shadow-xl shadow-slate-300 rounded-full;
}
.about-section .about-container .about-content .about-text {
  @apply flex flex-col gap-y-5;
}


/* Start */
.bg-start {
  background-image: url(../../public/home1/bg-start.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-start2 {
  background-image: url(../../public/home1/bg-start2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.transition{
  transition: all;
  transition: 3s;
}

.start-button{
font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #0066CC;
padding: 10px 31px;
border: solid #0066cc 3px;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.start-button:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #ffffff00;
color: #ffffff;
border: solid 3px #ffffff;
}

/* portfolio */
/* HeroPortfolio */
.bg-portfolio {
  background-image: url(../../public/home1/bg-portfolio.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.heroportfolio-content {
  @apply grid grid-cols-2 gap-x-10;
}
.heroportfolio-content .heroportfolio-text {
  @apply col-span-1 flex flex-col justify-center items-center relative;
}
.heroportfolio-content .heroportfolio-image {
  @apply cursor-pointer flex justify-center items-center;
}
.bg-city{
  background-image: url(../../public/home1/City-night.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rotate{
  position: relative;
  bottom: 3rem;
}
/* About */
.aboutportfolio-card {
  @apply rounded-lg;
}
.aboutportfolio-card .aboutportfolio-card-bg1 {
  background-image: url(../../public/home1/CardBg1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @apply rounded-t-lg;
}
.aboutportfolio-card .aboutportfolio-card-bg2 {
  background-image: url(../../public/home1/CardBg2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @apply rounded-t-lg;
}
.aboutportfolio-card .aboutportfolio-card-bg3 {
  background-image: url(../../public/home1/CardBg3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @apply rounded-t-lg;
}
.aboutportfolio-card .aboutportfolio-card-bg4 {
  background-image: url(../../public/home1/CardBg4.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @apply rounded-t-lg;
}
.aboutportfolio-card .aboutportfolio-card-bg5 {
  background-image: url(../../public/home1/CardBg5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @apply rounded-t-lg;
}
.aboutportfolio-card .aboutportfolio-card-bg6 {
  background-image: url(../../public/home1/CardBg6.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @apply rounded-t-lg;
}
/* Languages */
.education-content {
  @apply grid grid-cols-6 gap-10;
}
.education-line {
  @apply flex mt-14 justify-center items-center;
}
.education-content .education-cards {
  @apply col-span-5 flex flex-col gap-y-[6rem];
}
.education-card {
  @apply grid grid-cols-5 ring-1  ring-violet-400 hover:shadow-lg hover:shadow-violet-400 transition-all rounded-lg;
}
