@font-face {
  font-family: Merri;
  src: url('../../assets/Oswald-SemiBold.ttf');
  font-weight: 600;
}
.textured-bgHome {
  background-image: url('../../public/cover.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.textEditHome{
  mask-image: url(../../public/home1/mask1.png);
  opacity: 90%;
  -webkit-mask-image: url(../../public/home1/mask1.png);
  color: #fff;
}
.textEditHome2 {
  mask-image:  url(../../public/home1/mask2.png);
  -webkit-mask-image:  url(../../public/home1/mask1.png);
  color: #fff;
}
.textEditAbout{
  background: url(../../public/cover.png) no-repeat center center;
  background-attachment: fixed;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding: 2em;
  font-family: wars;
	/* -webkit-background-clip clips the background of the element to the text */
	-webkit-text-fill-color: transparent; /* overrides the white text color in webkit browsers */
	-webkit-background-clip: text;
  text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.205);
}

.textured-bgAbout {
  background-image: url('../../public/planet-07.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.bordered-text {
  text-shadow: 0 0 10px red;
}
#maskText h1 {
  font-size: 200px;
  font-family: 'Lilita One', sans-serif;
  color: #ffe400;
  text-shadow: 7px 7px 0px #34495e;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  display: block;
  -webkit-mask-image: url('../../public/home1/mask1.png');
  -webkit-transition:all 2s ease;
  -moz-transition:all 2s ease;
  -o-transition:all 2s ease;
  transition:all 2s ease;
}
  #maskText h1:hover{
    -webkit-mask-image: url('../../public/home1/mask2.png');
  cursor: pointer;
  color: #ffe400;
}
.bg-home{
  background-image: url(../../public/home1/Herobg.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1 {
  @apply font-bold text-3xl md:text-4xl lg:text-6xl;
  font-family: Merri;
}

h2 {
  @apply font-bold text-xl md:text-3xl lg:text-4xl;
  font-family: Merri;
}

h3 {
  @apply font-bold text-lg md:text-xl lg:text-2xl;
}

h4 {
  @apply font-bold text-base md:text-lg lg:text-xl;
}

h5 {
  @apply font-bold text-sm md:text-base lg:text-lg;
}

p {
  @apply text-base font-mono md:text-lg;
}
/* Hero */
.hero-content {
  @apply grid grid-cols-2 gap-x-10;
}


/* Start */
.bg-start {
  background-image: url(../../public/home1/bg-start.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-start2 {
  background-image: url(../../public/home1/bg-start2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.transition{
  transition: all;
  transition: 3s;
}

.start-button{
font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #0066CC;
padding: 10px 31px;
border: solid #0066cc 3px;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.start-button:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #ffffff00;
color: #ffffff;
border: solid 3px #ffffff;
}

/* portfolio */
.bg-portfolio {
  background-image: url(../../public/home1/bg-portfolio.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}